.main-reviews
{
    position: relative;

    float: right;

    box-sizing: border-box;
    width: 50%;
    height: 560px;
    margin: 68px 0 0;

    text-align: center;

    border-left: 1px solid #e5e5e5;
    &__body
    {
        position: relative;
    }
    &__item
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;

        transition: all .9s ease;

        opacity: 0;
        &_state
        {
            &_active
            {
                position: relative;
                z-index: 1;

                opacity: 1;
            }
        }
    }
    &__title
    {
        font: normal 43px/1 'PTSerifBold';

        display: inline-block;

        margin: 52px 0 29px;
        & a
        {
            position: relative;

            transition: all .3s ease;
            text-decoration: none;

            color: #000;
            &:after
            {
                position: absolute;
                bottom: 2px;

                display: block;

                width: 100%;
                height: 4px;

                content: '';
                transition: all .3s ease;

                background: #000;
            }
            &:hover
            {
                &:after
                {
                    opacity: .2;
                }
            }
        }
    }
    &__text
    {
        font: normal 18px/26px 'PTSerifItalic';

        width: 320px;
        margin: 0 auto;

        color: #000;
    }
    &__link
    {
        transition: all .3s ease;
        text-decoration: none;

        color: #345d3a;
        border-bottom: 1px solid #345d3a;
        &:hover
        {
            border-color: rgba(52, 93, 58, .5);
        }
    }
    &__img
    {
        margin: 39px 0 12px;
    }
    &__name
    {
        font: normal 17px/1 'PTSerifItalic';

        margin: 0 0 8px;

        color: #000;
    }
    &__profession
    {
        font: normal 10px/1 'OpenSansBold';

        margin: 0;

        letter-spacing: .6px;
        text-transform: uppercase;

        color: #a2a2a2;
    }
    &__prev
    {
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 60px;

        width: 38px;
        height: 72px;
        margin: auto;

        cursor: pointer;
        cursor: pointer;
        transition: all .3s ease;
        transform: translate(0, -100%);

        background: transparent url('../i/main-reviews__prev.svg') left top no-repeat;
        background-size: 38px;
        &:hover
        {
            opacity: .4;
        }
    }
    &__next
    {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 60px;
        bottom: 0;

        width: 38px;
        height: 72px;
        margin: auto;

        cursor: pointer;
        cursor: pointer;
        transition: all .3s ease;
        transform: translate(0, -100%);
        text-align: left;
        text-decoration: none;

        background: transparent url('../i/main-reviews__next.svg') left top no-repeat;
        background-size: 38px;
        &:hover
        {
            opacity: .4;
        }
    }
    &__count
    {
        font: normal 21px/72px 'OpenSans';

        margin: 0 0 0 -17px;

        color: #000;
    }
}
