.main-cause
{
    font-size: 0;

    position: relative;

    text-align: center;
    &__item
    {
        position: absolute;
        top: 0;
        left: 0;

        transition: all .9s ease;

        opacity: 0;
        &_state
        {
            &_active
            {
                position: relative;

                opacity: 1;
            }
        }
    }
    &__bg
    {
        display: block;

        max-width: 100%;
    }
    &__wrap
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        &:before
        {
            display: inline-block;

            width: 0;
            height: 100%;

            content: '';
            vertical-align: middle;
        }
    }
    &__body
    {
        display: inline-block;

        margin: 110px 0 0;

        vertical-align: top;
    }
    &__topic
    {
        font: normal 43px/1 'PTSerifBold';

        margin: 0;

        text-align: center;

        color: #fff;
    }
    &__title
    {
        font: normal 15px/1 'OpenSansBold';

        margin: 78px 0 13px;

        letter-spacing: .9px;
        text-transform: uppercase;

        color: #fff;
    }
    &__text
    {
        font: normal 27px/38px 'PTSerifItalic';

        margin: 0 0 50px;

        color: #fff;
    }
    &__link
    {
        font: normal 12px/38px 'OpenSansBold';

        display: inline-block;

        padding: 0 40px;

        transition: all .3s ease;
        text-decoration: none;
        letter-spacing: 1.1px;
        text-transform: uppercase;

        color: #fff;
        border: 2px solid #fff;
        &:hover
        {
            border-color: rgba(255, 255, 255, .5);
        }
    }
    &__prev
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50px;

        width: 38px;
        height: 72px;
        margin: auto;

        cursor: pointer;
        transition: all .3s ease;

        background: transparent url('../i/main-cause__prev.svg') left top no-repeat;
        background-size: 38px;
        &:hover
        {
            opacity: .4;
        }
    }
    &__next
    {
        position: absolute;
        top: 0;
        right: 50px;
        bottom: 0;

        width: 38px;
        height: 72px;
        margin: auto;

        cursor: pointer;
        transition: all .3s ease;
        text-align: left;
        text-decoration: none;

        background: transparent url('../i/main-cause__next.svg') left top no-repeat;
        background-size: 38px;
        &:hover
        {
            opacity: .4;
        }
    }
    &__count
    {
        font: normal 21px/72px 'OpenSans';

        margin: 0 0 0 -17px;

        color: #fff;
    }
}
