.main-guest
{
    font-size: 0;
    line-height: 0;

    position: relative;

    margin: 10px 0;

    text-align: center;
    &__block
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;

        opacity: 0;
        &_state
        {
            &_active
            {
                position: relative;

                opacity: 1;
            }
        }
    }
    &__village
    {
        //display: block;
        max-width: 100%;
    }
    &__forest
    {
        display: block;
        display: none;

        max-width: 100%;
    }
    &__wrap
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        &:before
        {
            display: inline-block;

            width: 0;
            height: 100%;

            content: '';
            vertical-align: middle;
        }
    }
    &__body
    {
        display: inline-block;

        width: 1200px;

        vertical-align: middle;
    }
    &__topic
    {
        font: normal 43px/1 'PTSerifBold';

        display: inline-block;

        margin: 0 0 0;

        text-align: center;
        vertical-align: top;

        color: #fff;
    }
    &-tab
    {
        display: inline-block;

        margin: 6px 0 0 17px;
        &__item
        {
            font: normal 13px/35px 'OpenSansBold';

            display: inline-block;

            padding: 0 20px;

            vertical-align: top;
            text-decoration: none;
            letter-spacing: .8px;
            text-transform: uppercase;

            color: #000;
            border: 2px solid #345d3a;
            background: #fff;
            & span
            {
                transition: all .3s ease;

                border-bottom: 1px solid #000;
            }
            &:hover
            {
                & span
                {
                    border-color: rgba(0,0,0,.5);
                }
            }
            &_state
            {
                &_active
                {
                    text-decoration: none;

                    color: #fff;
                    background: #345d3a;
                    & span
                    {
                        border: none;
                    }
                }
            }
        }
    }
    &__prev
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 80px;

        width: 38px;
        height: 72px;
        margin: auto;

        cursor: pointer;
        transition: all .3s ease;

        background: transparent url('../i/main-cause__prev.svg') left top no-repeat;
        background-size: 38px;
        &:hover
        {
            opacity: .4;
        }
    }
    &__next
    {
        position: absolute;
        top: 0;
        right: 80px;
        bottom: 0;

        width: 38px;
        height: 72px;
        margin: auto;

        cursor: pointer;
        transition: all .3s ease;
        text-align: left;
        text-decoration: none;

        background: transparent url('../i/main-cause__next.svg') left top no-repeat;
        background-size: 38px;
        &:hover
        {
            opacity: .4;
        }
    }
    &__count
    {
        font: normal 21px/72px 'OpenSans';

        margin: 0 0 0 -17px;

        color: #fff;
    }
    &__info
    {
        position: relative;

        width: 853px;
        height: 314px;
        margin: 54px auto 0;

        text-align: left;

        background: #fff;
    }
    &__item
    {
        position: absolute;
        top: 0;
        left: 0;

        transition: all .9s ease;

        opacity: 0;
        &_state
        {
            &_active
            {
                opacity: 1;
            }
        }
    }
    &__img
    {
        vertical-align: top;
    }
    &__content
    {
        display: inline-block;

        box-sizing: border-box;
        width: 381px;
        padding: 0 50px;

        vertical-align: top;
    }
    &__price
    {
        font: normal 11px/17px 'OpenSansBold';

        margin: 42px 0 7px;

        letter-spacing: 1.6px;
        text-transform: uppercase;

        color: #000;
    }
    &__title
    {
        font: normal 20px/27px 'OpenSans';

        margin: 0 0 29px;

        color: #000;
    }
    &__text
    {
        font: normal 14px/22px 'OpenSansLight';

        margin: 0;

        color: #797979;
    }
}
