.main-youtube
{
    position: relative;

    padding: 20px;
    margin: 0 0 10px;

    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .03);
    &:after
    {
        position: absolute;
        top: 25px;
        right: 20px;

        width: 30px;
        height: 30px;

        content: '';

        background: transparent url('../i/main/main-youtube__icon.svg') left top no-repeat;
        background-size: 30px;
    }
    &__title
    {
        font: normal 18px/22px 'RobotoMedium';

        margin: 0 0 9px;

        letter-spacing: .015em;

        color: $colorBlack;
    }
    &__site
    {
        font: normal 12px/1 'Roboto';

        transition: all .3s ease;
        text-decoration: none;

        color: #ec0033;
        border-bottom: 1px solid transparent;
        &:hover
        {
            border-color: #ec0033;
        }
    }
    &__video
    {
        position: relative;

        display: block;

        margin: 17px -20px 0;

        cursor: pointer;
        text-decoration: none;

        background: #000;
        & img
        {
            display: block;

            transition: all .3s ease;

            opacity: .5;
        }
        &:hover
        {
            & img
            {
                opacity: .75;
            }
        }
        &:after
        {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            width: 60px;
            height: 60px;
            margin: auto;

            content: '';

            background: transparent url('../i/main/main-youtube__video_play.svg') left top no-repeat;
            background-size: 60px;
        }
    }
    &__text
    {
        font: normal 14px/20px 'Roboto';

        margin: 15px 0 13px;

        letter-spacing: .010em;

        color: $colorBlack;
    }
    &__views
    {
        font: normal 12px/1 'Roboto';

        margin: 0;

        letter-spacing: .015em;

        color: #808080;
    }
}
