.main-news
{
    padding: 0 0 30px;

    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .03);
    &-article
    {
        margin: 0 0 28px;
        padding: 0 30px;
        &__title
        {
            font: normal 14px/22px 'Roboto';

            margin: 0;

            letter-spacing: .015em;

            color: $colorBlack;
        }
        &__date
        {
            font: normal 12px/1 'Roboto';

            margin: 11px 0 0;

            letter-spacing: .015em;

            color: #808080;
        }
    }
}
