.main-subject
{
    display: inline-block;

    box-sizing: border-box;
    width: 326px;
    height: 200px;
    margin: 30px 0 0;
    padding: 20px;

    vertical-align: top;

    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .03);
    &__title
    {
        font: normal 18px/22px 'RobotoBold';

        margin: 0;

        letter-spacing: .015em;

        color: $colorBlack;
    }
    &__link
    {
        font: normal 14px/1 'Roboto';

        display: inline-block;

        margin: 10px 0 17px;

        letter-spacing: .015em;
    }
    &__select
    {
        margin-bottom: 15px;
    }
}
