.main-team
{
    font-size: 0;

    margin: 73px 0 0 0;
    padding: 0 0 46px;

    text-align: center;

    background: #345d3a url('../i/main/main-team_bg.png') left top repeat;
    &__body
    {
        width: 1200px;
        margin: 0 auto;
    }
    &__topic
    {
        font: normal 45px/1 'PTSerifBold';

        display: inline-block;

        margin: 0;
        padding: 101px 0 34px;

        text-align: center;
        & a
        {
            position: relative;

            transition: all .3s ease;
            text-decoration: none;

            color: #fff;
            &:after
            {
                position: absolute;
                bottom: 2px;

                display: block;

                width: 100%;
                height: 4px;

                content: '';
                transition: all .3s ease;

                background: #fff;
            }
            &:hover
            {
                &:after
                {
                    opacity: .2;
                }
            }
        }
    }
    &__text
    {
        font: normal 18px/27px 'OpenSans';

        width: 760px;
        margin: 0 auto 56px;

        text-align: center;

        color: #fff;
    }
    &__item
    {
        display: inline-block;

        width: 340px;
        margin: 0 10px 62px;

        text-align: center;
        vertical-align: top;
    }
    &__activity
    {
        font: normal 15px/17px 'PTSerifItalic';

        margin: 11px 0 9px;

        color: #fff;
    }
    &__img
    {
        border-radius: 50%;
    }
    &__name
    {
        font: normal 15px/23px 'OpenSansBold';

        margin: 0 0 17px;

        color: #fff;
    }
    &__contacts
    {
        font: normal 16px/27px 'OpenSans';

        margin: 0;

        color: #fff;
    }
    &__email
    {
        transition: all .3s ease;
        text-decoration: none;

        color: #fff;
        border-bottom: 1px solid #fff;
        &:hover
        {
            border-color: rgba(255,255,255,.5);
        }
    }
}
