.main-slider
{
    margin: 0 0 10px;

    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .03);
    &__info
    {
        position: relative;

        padding: 15px 30px 30px;
    }
    &__title
    {
        font: normal 18px/25px 'RobotoBold';

        margin: 0;

        letter-spacing: .015em;

        color: $colorBlack;
    }
    &__date
    {
        font: normal 12px/1 'Roboto';

        margin: 19px 0 0;

        letter-spacing: .015em;

        color: #808080;
    }
    &__nav
    {
        font: normal 12px/1 'RobotoBold';

        position: absolute;
        right: 30px;
        bottom: 30px;

        margin: 0;

        letter-spacing: .015em;

        color: $colorBlack;
    }
}
