.main-dweller
{
    font-size: 0;

    text-align: center;
    &__topic
    {
        font: normal 43px/1 'PTSerifBold';

        margin: 113px 0 29px;

        text-align: center;

        color: #000;
    }
    &__item
    {
        display: inline-block;

        width: 180px;
        margin: 0 20px;

        text-align: left;
        vertical-align: top;
    }
    &__img
    {
        margin: 0 0 0 -40px;

        text-decoration: none;
    }
    &__title
    {
        margin: 12px 0 6px;
        & a
        {
            font: normal 14px/24px 'OpenSansBold';

            transition: all .3s ease;
            text-decoration: none;
            letter-spacing: .8px;
            text-transform: uppercase;

            color: #000;
            border-bottom: 1px solid #000;
            .main-dweller__img:hover + &
            {
                border-color: rgba(0,0,0,.2);
            }
            &:hover
            {
                border-color: rgba(0,0,0,.2);
            }
        }
    }
    &__text
    {
        font: normal 15px/22px 'PTSerifItalic';

        margin: 0;

        color: #000;
    }
}
