.main-well
{
    float: left;

    box-sizing: border-box;
    width: 50%;
    height: 560px;
    margin: 68px 0 0;

    text-align: center;

    border-right: 1px solid #e5e5e5;
    &__wrap
    {
        width: 1200px;
        margin: 0 auto;
    }
    &__title
    {
        font: normal 43px/1 'PTSerifBold';

        display: inline-block;

        margin: 52px 0 29px;
        & a
        {
            position: relative;

            transition: all .3s ease;
            text-decoration: none;

            color: #000;
            &:after
            {
                position: absolute;
                bottom: 2px;

                display: block;

                width: 100%;
                height: 4px;

                content: '';
                transition: all .3s ease;

                background: #000;
            }
            &:hover
            {
                &:after
                {
                    opacity: .2;
                }
            }
        }
    }
    &__text
    {
        font: normal 17px/26px 'OpenSans';

        width: 420px;
        margin: 0 auto;

        color: #000;
    }
    &__link
    {
        transition: all .3s ease;
        text-decoration: none;

        color: #345d3a;
        border-bottom: 1px solid #345d3a;
        &:hover
        {
            border-color: rgba(52, 93, 58, .5);
        }
    }
    &__img
    {
        display: block;

        margin: 0 auto;
    }
    &__button
    {
        font: normal 12px/38px 'OpenSansBold';

        position: relative;
        top: -146px;

        display: inline-block;

        padding: 0 40px;

        transition: all .3s ease;
        text-decoration: none;
        text-transform: uppercase;

        color: #000;
        border: 2px solid #000;
        background: #fff;
        &:hover
        {
            color: rgba(0, 0, 0, .5);
            border-color: rgba(0, 0, 0, .5);
        }
    }
}
