.main-video
{
    position: relative;

    margin: 45px 0 184px;

    text-align: center;
    &__title
    {
        font: normal 53px/64px 'PTSerifBold';

        margin: 0;

        color: #fff;
    }
    &__text
    {
        font: normal 23px/29px 'OpenSans';

        margin: 27px 0 63px;

        color: #fff;
    }
    &__play
    {
        display: inline-block;

        width: 78px;
        height: 78px;

        cursor: pointer;
        transition: all .3s ease;

        background: transparent url('../i/main-video__play.svg') left top no-repeat;
        background-size: 78px;
        &:hover
        {
            opacity: .5;
        }
    }
}
