.main-vk
{
    position: relative;

    padding: 20px;
    margin: 0 0 10px;

    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .03);
    &:after
    {
        position: absolute;
        top: 25px;
        right: 20px;

        width: 30px;
        height: 30px;

        content: '';

        background: transparent url('../i/main/main-vk__icon.svg') left top no-repeat;
        background-size: 30px;
    }
    &__title
    {
        font: normal 18px/22px 'RobotoMedium';

        margin: 0 0 9px;

        letter-spacing: .015em;

        color: $colorBlack;
    }
    &__site
    {
        font: normal 12px/1 'Roboto';

        transition: all .3s ease;
        text-decoration: none;

        color: #597da3;
        border-bottom: 1px solid transparent;
        &:hover
        {
            border-color: #597da3;
        }
    }
    &__photo
    {
        position: relative;

        display: block;

        margin: 17px -20px 0;

        cursor: pointer;
        text-decoration: none;
        & img
        {
            display: block;
        }
    }
    &__text
    {
        font: normal 14px/20px 'Roboto';

        margin: 15px 0 13px;

        letter-spacing: .010em;

        color: $colorBlack;
    }
    &__views
    {
        font: normal 12px/1 'Roboto';

        margin: 0;

        letter-spacing: .015em;

        color: #808080;
    }
}
