.main-tw
{
    position: relative;

    padding: 20px;

    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .03);
    &:after
    {
        position: absolute;
        top: 25px;
        right: 20px;

        width: 30px;
        height: 30px;

        content: '';

        background: transparent url('../i/main/main-tw__icon.svg') left top no-repeat;
        background-size: 30px;
    }
    &__title
    {
        font: normal 18px/22px 'RobotoMedium';

        margin: 0 0 23px;

        letter-spacing: .015em;

        color: $colorBlack;
    }
    &__date
    {
        font: normal 12px/1 'Roboto';

        margin: 0;

        color: #808080;
        & a
        {
            transition: all .3s ease;
            text-decoration: none;

            color: #08afef;
            border-bottom: 1px solid transparent;
            &:hover
            {
                border-color: #08afef;
            }
        }
    }
    &__text
    {
        font: normal 14px/20px 'Roboto';

        margin: 15px 0 13px;

        letter-spacing: .010em;

        color: $colorBlack;
    }
    &__link
    {
        transition: all .3s ease;
        text-decoration: none;

        color: #08afef;
        border-bottom: 1px solid transparent;
        &:hover
        {
            border-color: #08afef;
        }
    }
}
