.main-idea
{
    font-size: 0;

    text-align: center;
    &__topic
    {
        font: normal 43px/1 'PTSerifBold';

        margin: 108px 0 25px;

        text-align: center;

        color: #000;
    }
    &__tab
    {
        font: normal 13px/39px 'OpenSansBold';

        display: inline-block;

        margin: 0 0 57px;
        padding: 0 17px;

        letter-spacing: 1px;
        text-transform: uppercase;

        color: #fff;
        background: #345d3a;
        &:after
        {
            margin: 0 0 0 5px;

            @include font-icon('\f107');
        }
    }
    &__item
    {
        position: relative;

        display: inline-block;
        overflow: hidden;

        width: 360px;
        height: 350px;
        margin: 0 5px;

        cursor: pointer;
        vertical-align: top;
        &:before
        {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            content: '';
            transition: all .6s ease;

            opacity: 0;
            background: rgba(0,0,0,.3);
        }
        &:hover
        {
            &:before
            {
                opacity: 1;
            }
        }
    }
    &__img
    {
        width: 105%;
        height: 105%;

        transition: all .6s ease;
        .main-idea__item:hover &
        {
            width: 100%;
            height: 100%;
        }
    }
    &__info
    {
        position: absolute;
        bottom: 30px;
        left: 40px;

        text-align: left;
    }
    &__title
    {
        font: normal 11px/1 'OpenSansBold';

        margin: 0 0 9px;

        letter-spacing: 1.6px;
        text-transform: uppercase;

        color: #fff;
    }
    &__link
    {
        font: normal 19px/27px 'OpenSans';

        margin: 0;

        transition: all .3s ease;
        text-decoration: none;

        color: #fff;
        border-bottom: 1px solid transparent;
        &:hover
        {
            border-color: #fff;
        }
    }
}
