.main-nav
{
    font-size: 0;

    overflow: hidden;

    margin: 0 0 30px;
    &__body
    {
        margin: 0 -5px;
    }
    &__item
    {
        display: inline-block;

        box-sizing: border-box;
        width: 20%;

        vertical-align: top;
        &-body
        {
            position: relative;

            display: block;

            box-sizing: border-box;
            height: 150px;
            margin: 0 5px;
            padding: 20px;

            transition: all .3s ease;
            text-decoration: none;

            background: #fff;
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .03);
            &:hover
            {
                box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .05);
            }
        }
    }
    &__title
    {
        font: normal 16px/18px 'RobotoBold';

        margin: 0;

        letter-spacing: .015em;

        color: $colorBlack;
    }
    &__site
    {
        font: normal 11px/1 'Roboto';

        margin: 4px 0 0;

        letter-spacing: .015em;

        color: #ec0033;
    }
    &__icon
    {
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (max-width : 1023px),
only screen and (max-device-width : 1023px)
{
    .main-nav
    {
        &__item
        {
            &_768
            {
                &_33
                {
                    width: 33.33333333333333%;
                    margin-bottom: 10px;
                }
                &_50
                {
                    width: 50%;
                }
            }
        }
    }
}

@media only screen and (max-width : 767px),
only screen and (max-device-width : 767px)
{
    .main-nav
    {
        &__body
        {
            margin: 0;
        }
        &__item
        {
            width: 100%;
            margin-bottom: 10px;
            &-body
            {
                height: 120px;
                margin: 0;
                &:before
                {
                    display: inline-block;

                    width: 0;
                    height: 100%;

                    content: '';
                    vertical-align: middle;
                }
            }
        }
        &__title
        {
            font: normal 18px/22px 'RobotoBold';
        }
        &__info
        {
            display: inline-block;

            vertical-align: middle;
        }
        &__icon
        {
            top: 0;
            bottom: 0;

            margin: auto;
        }
    }
}
