.main-calendar
{
    font-size: 0;
    //width: 1200px;

    margin: 40px auto 10px;
    &__aside
    {
        display: inline-block;

        box-sizing: border-box;
        width: 27%;
        height: 530px;

        transition: all .3s ease;
        text-align: right;
        vertical-align: top;

        background: #f7e2ce;
        &-body
        {
            display: inline-block;

            box-sizing: border-box;
            width: 324px;
            padding: 28px 0 0 44px;

            text-align: left;
        }
        &_mod
        {
            &_1
            {
                background: #f7e2ce;
            }
            &_2
            {
                background: #44657d;
            }
            &_3
            {
                background: #475;
            }
            &_4
            {
                background: #322;
            }
        }
    }
    &__all
    {
        font: normal 11px/14px 'OpenSansBold';

        transition: all .3s ease;
        text-decoration: none;
        letter-spacing: 1.6px;
        text-transform: uppercase;

        color: #000;
        border-bottom: 1px solid #000;.main-calendar__aside_mod_1 &
        {
            color: #000;
            border-color: #000;   &:hover
            {
                border-color: rgba(0,0,0,.2);
            }
        }
        .main-calendar__aside_mod_2 &
        {
            color: #fff;
            border-color: #fff;   &:hover
            {
                border-color: rgba(255,255,255,.2);
            }
        }
        .main-calendar__aside_mod_3 &
        {
            color: #fff;
            border-color: #fff;   &:hover
            {
                border-color: rgba(255,255,255,.2);
            }
        }
        .main-calendar__aside_mod_4 &
        {
            color: #fff;
            border-color: #fff;
            &:hover
            {
                border-color: rgba(255,255,255,.2);
            }
        }
        &:hover
        {
            border-color: rgba(0,0,0,.2);
        }
    }
    &-list
    {
        margin: 21px 0 0;
        padding: 0;

        list-style: none;
        &__item
        {
            position: relative;
            & a
            {
                font: normal 16px/24px 'OpenSans';

                display: block;

                width: 210px;
                padding: 15px 0;

                text-decoration: none;

                color: #000;
                border-bottom: 1px solid rgba(0, 0, 0, .16);
                .main-calendar__aside_mod_1 &
                {
                    color: #000;
                }
                .main-calendar__aside_mod_2 &
                {
                    color: #fff;
                }
                .main-calendar__aside_mod_3 &
                {
                    color: #fff;
                }
                .main-calendar__aside_mod_4 &
                {
                    color: #fff;
                }
            }
            &_state
            {
                &_active
                {
                    &:before
                    {
                        position: absolute;
                        z-index: 1;
                        right: -50px;
                        bottom: 0;

                        width: 0;
                        height: 0;

                        content: '';

                        border-top: 50px solid transparent;
                        border-bottom: 50px solid transparent;
                        border-left: 50px solid #fff;
                    }
                    &:after
                    {
                        position: absolute;
                        z-index: 1;
                        right: -36px;
                        bottom: 14px;

                        width: 0;
                        height: 0;

                        content: '';

                        border-top: 36px solid transparent;
                        border-bottom: 36px solid transparent;
                        border-left: 36px solid #f7e2ce;
                        .main-calendar__aside_mod_1 &
                        {
                            border-left-color: #f7e2ce;
                        }
                        .main-calendar__aside_mod_2 &
                        {
                            border-left-color: #44657d;
                        }
                        .main-calendar__aside_mod_3 &
                        {
                            border-left-color: #475;
                        }
                        .main-calendar__aside_mod_4 &
                        {
                            border-left-color: #322;
                        }
                    }
                    & a
                    {
                        font-family: 'PTSerifBold';
                    }
                }
            }
        }
    }
    &__count
    {
        font: normal 11px/1 'OpenSansBold';

        margin: 20px 0 0;

        letter-spacing: 1.6px;
        text-transform: uppercase;

        color: #000;
        .main-calendar__aside_mod_1 &
        {
            color: #000;
        }
        .main-calendar__aside_mod_2 &
        {
            color: #fff;
        }
        .main-calendar__aside_mod_3 &
        {
            color: #fff;
        }
        .main-calendar__aside_mod_4 &
        {
            color: #fff;
        }
        & span
        {
            font-size: 34px;

            position: relative;
            top: 6px;
        }
    }
    &__content
    {
        position: relative;

        display: inline-block;
        overflow: hidden;

        box-sizing: border-box;
        width: 73%;
        height: 530px;
        padding: 0 0 0 10px;

        vertical-align: top;
    }
    &__item
    {
        position: absolute;
        top: 0;
        left: 0;

        height: 530px;

        transition: all .3s ease;

        opacity: 0;
        & img
        {
            display: block;

            width: 100%;
        }
        &_state
        {
            &_active
            {
                position: relative;

                opacity: 1;
            }
        }
    }
    &__info
    {
        position: absolute;
        bottom: 50px;
        left: 100px;
    }
    &__date
    {
        font: normal 11px/1 'OpenSansBold';

        margin: 0;

        letter-spacing: 1.6px;
        text-transform: uppercase;

        color: #fff;
    }
    &__title
    {
        font: normal 43px/56px 'PTSerifBold';

        margin: 12px 0 0;

        text-decoration: underline;

        color: #fff;
    }
}
