.main-prosecutor
{
    position: relative;

    margin: 0 0 10px;
    padding: 20px;

    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .03);
    &__title
    {
        font: normal 18px/22px 'RobotoBold';

        margin: 0;

        letter-spacing: .015em;

        color: $colorBlack;
    }
    &__name
    {
        font: normal 14px/16px 'RobotoMedium';

        margin: 23px 0 13px;

        letter-spacing: .015em;

        color: $colorBlack;
    }
    &__link
    {
        font: normal 12px/1 'Roboto';

        letter-spacing: .015em;
    }
    &__photo
    {
        position: absolute;
        right: 20px;
        bottom: 30px;
    }
}
