.main-location
{
    position: relative;

    display: inline-block;

    box-sizing: border-box;
    width: 664px;
    height: 200px;
    margin: 30px 10px 0 0;
    padding: 20px 30px;

    vertical-align: top;

    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .03);
    &__title
    {
        font: normal 18px/22px 'RobotoBold';

        margin: 0;

        letter-spacing: .015em;

        color: $colorBlack;
    }
    &__text
    {
        font: normal 14px/30px 'Roboto';

        margin: 14px 0 17px;

        letter-spacing: .015em;

        color: $colorBlack;
    }
    &__link
    {
        font: normal 14px/1 'Roboto';

        margin: 0;

        letter-spacing: .015em;
    }
    &__map
    {
        position: absolute;
        top: 0;
        right: 0;
    }
}
