.main-article
{
    position: relative;

    height: 180px;
    margin: 30px 0 0;

    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .03);
    &:after
    {
        position: absolute;
        right: 30px;
        bottom: 30px;

        width: 56px;
        height: 57px;

        content: '';

        background: transparent url('../i/main/main-article__icon.svg') left top no-repeat;
        background-size: 56px;
    }
    &__photo
    {
        //
    }
    &__content
    {
        display: inline-block;

        padding: 20px 30px;

        vertical-align: top;
    }
    &__title
    {
        font: normal 18px/22px 'RobotoMedium';

        margin: 0 0 11px;

        letter-spacing: .015em;

        color: $colorBlack;
    }
    &__text
    {
        font: normal 14px/20px 'Roboto';

        margin: 0;

        letter-spacing: .015em;

        color: $colorBlack;
    }
    &__link
    {
        font: normal 14px/1 'Roboto';

        position: absolute;
        bottom: 30px;

        letter-spacing: .015em;
    }
    &__date
    {
        font: normal 12px/1 'RobotoBold';

        position: absolute;
        top: 25px;
        right: 30px;

        margin: 0;

        letter-spacing: .015em;

        color: $colorBlack;
    }
}
