.main-project
{
    font-size: 0;

    padding: 133px 0 0;

    text-align: center;
    &__left
    {
        display: inline-block;

        vertical-align: top;
    }
    &__right
    {
        display: inline-block;

        width: 370px;

        vertical-align: top;
    }
    &__item
    {
        position: relative;

        display: inline-block;

        margin: 7px;

        text-align: left;
        vertical-align: top;
    }
    &__img
    {
        display: block;
    }
    &__title
    {
        font: normal 19px/27px 'OpenSans';

        position: absolute;
        bottom: 40px;
        left: 40px;

        margin: 0;

        color: #fff;
    }
    &__all
    {
        font: normal 11px/1 'OpenSansBold';

        position: absolute;
        top: 15px;
        left: 20px;

        transition: all .3s ease;
        text-decoration: none;
        letter-spacing: 1.6px;
        text-transform: uppercase;

        color: #000;
        border-bottom: 1px solid #000;
        &:hover
        {
            border-color: rgba(0,0,0,.5);
        }
    }
    &__info
    {
        position: absolute;
        bottom: 55px;
        left: 20px;
    }
    &__date
    {
        font: normal 11px/1 'OpenSansBold';

        display: inline-block;

        margin: 13px 14px 0 0;

        vertical-align: top;
        letter-spacing: 1.6px;
        text-transform: uppercase;

        color: #000;
    }
    &__topic
    {
        font: normal 41px/1 'PTSerifBold';

        display: inline-block;

        margin: 0;

        vertical-align: top;
        & a
        {
            position: relative;

            transition: all .3s ease;
            text-decoration: none;

            color: #000;
            &:after
            {
                position: absolute;
                bottom: 2px;

                display: block;

                width: 100%;
                height: 4px;

                content: '';
                transition: all .3s ease;

                background: #000;
            }
            &:hover
            {
                &:after
                {
                    opacity: .2;
                }
            }
        }
    }
    &-logos
    {
        font-size: 0;

        position: absolute;
        top: 15px;
        right: 20px;
        &__item
        {
            display: inline-block;

            margin: 0 7px;

            vertical-align: middle;
            &:last-child
            {
                margin: 0;
            }
        }
    }
}
