.footer-social
{
    display: inline-block;

    width: 33.33333333333333%;
    padding: 0;

    list-style: none;

    vertical-align: top;
    &__item
    {
        & a
        {
            display: block;

            width: 10px;
            margin: 0 10px 0 0;
        }
    }
}
