.footer-logo
{
    display: inline-block;

    width: 33.33333333333333%;

    vertical-align: top;
    &__img
    {
        display: inline-block;

        width: 47px;

        vertical-align: middle;
    }
    &__text
    {
        font: normal 14px/15px 'RobotoMedium';

        display: inline-block;

        margin: 0 0 0 12px;

        vertical-align: middle;

        color: $colorBlack;
    }
}
