.footer-list
{
    display: inline-block;

    width: 33.33333333333333%;
    padding: 0;

    list-style: none;

    vertical-align: top;
    &__item
    {
        font: normal 12px/13px 'Roboto';

        margin: 0;
        padding: 0 30px 17px 0;
        & a
        {
            transition: all .3s ease;
            text-decoration: none;

            color: $colorBlack;
            border-bottom: 1px solid transparent;
            &:hover
            {
                border-color: $colorBlack;
            }
        }
        &_mod
        {
            &_phone
            {
                font-size: 18px;
                line-height: 20px;
            }
        }
    }
}
