<div class="footer__top footer__top_mod_mobile">
    <div class="footer__body">
        <div class="footer__left">
            <div class="footer-social">
                <a class="footer-social__item footer-social__item_mod_ok" href="http://www.odnoklassniki.ru/obiru" target="_blank"></a>
                <a class="footer-social__item footer-social__item_mod_vk" href="http://vk.com/obiru" target="_blank"></a>
            </div>
        </div>
        <div class="footer__right">
            <a class="footer__link footer__link_mod_download" href="http://www.obi.ru/ru/services/online-services/mobil/index.html" target="_blank"><span>Скачать</span></a>
        </div>
    </div>
</div>
<div class="footer__top">
    <div class="footer__body">
        <div class="footer__cell">
            <h3 class="footer__title">Подписаться на новости</h3>
            <form class="footer-form">
                <input class="footer-form__input" type="email" placeholder="Ваш адрес эл.почты"></input>
                <button class="footer-form__button"></button>
            </form>
        </div>
        <div class="footer__cell">
            <h3 class="footer__title">Помощь</h3>
            <a class="footer__link" href="/faq.html" target="_blank">Помощь по сайту</a>
        </div>
        <div class="footer__cell">
            <h3 class="footer__title">Присоединяйтесь к нам</h3>
            <div class="footer-social">
                <a class="footer-social__item footer-social__item_mod_ok" href="http://www.odnoklassniki.ru/obiru" target="_blank"></a>
                <a class="footer-social__item footer-social__item_mod_vk" href="http://vk.com/obiru" target="_blank"></a>
            </div>
        </div>
        <div class="footer__cell">
            <h3 class="footer__title">Мобильные приложения</h3>
            <a class="footer__link footer__link_mod_download" href="http://www.obi.ru/ru/services/online-services/mobil/index.html" target="_blank"><span>Скачать</span></a>
        </div>
    </div>
</div>
<div class="footer__bottom">
    <div class="footer__body">
        <div class="footer__cell footer__cell_mod_desktop">
            <a class="footer-logo" href="http://www.obi.ru/decom/home.html" target="_blank">
                <span class="footer-logo__text">Obiclub.ru</span>
            </a>
        </div>
         <div class="footer__cell footer__cell_mod_mobile">
            <h3 class="footer-list__title">Контакты</h3>
            <ul class="footer-list">
                <li class="footer-list__item"><a href="tel:+74957777575">+7 (495) 777-75-75</a></li>
                <li class="footer-list__item"><a href="/faq.html" target="_blank">Обратная связь</a></li>
            </ul>
        </div>
        <div class="footer__cell">
            <h3 class="footer-list__title">Онлайн заказ</h3>
            <ul class="footer-list">
                <li class="footer-list__item"><a href="http://www.obi.ru/ru/services/online-services/how-to-order/index.html" target="_blank">Забрать в гипермаркете</a></li>
                <li class="footer-list__item"><a href="/faq.html" target="_blank">Вопросы и Ответы</a></li>
            </ul>
        </div>
        <div class="footer__cell">
            <h3 class="footer-list__title">Сервисы</h3>
            <ul class="footer-list">
                <li class="footer-list__item"><a href="http://obi.ru/ru/services/index.html" target="_blank">Все сервисы</a></li>
                <li class="footer-list__item"><a href="http://obi.ru/ru/services/store-services/gift-card/index.html" target="_blank">Подарочные карты</a></li>
                <li class="footer-list__item"><a href="http://obi.ru/ru/new-settler/index.html" target="_blank">Программа «OBI Клуб»</a></li>
            </ul>
        </div>
        <div class="footer__cell">
            <h3 class="footer-list__title">Компания</h3>
            <ul class="footer-list">
                <li class="footer-list__item"><a href="http://www.obi.ru/ru/company/index.html" target="_blank">ОБИ Россия</a></li>
                <li class="footer-list__item"><a href="http://www.obi.ru/ru/career/index.html" target="_blank">Карьера в ОБИ</a></li>
                <li class="footer-list__item"><a href="http://www.obi.ru/ru/private-brands/index.html" target="_blank">Собственные бренды ОБИ</a></li>
            </ul>
        </div>
        <div class="footer-nav">
            <a class="footer-nav__item" href="http://www.obi.ru/ru/impressum/index.html" target="_blank">Правовая информация</a> |
            <a class="footer-nav__item" href="http://www.obi.ru/ru/agb/index.html" target="_blank">Правила оказания услуг</a> |
            <a class="footer-nav__item" href="http://www.obi.ru/ru/disclaimer/index.html" target="_blank">Защита данных</a> |
            <a class="footer-nav__item" href="http://www.obi.ru/decom/sitemap" target="_blank">Карта сайта</a> |
            <a class="footer-nav__item" href="http://www.obi.ru/decom/sitemap/markets" target="_blank">Все магазины</a>
        </div>
    </div>
</div>
