<div class="header__body">
    <a class="header-logo" href="http://www.obi.ru/decom/home.html" target="_blank">
        <span class="header-logo__text">Obiclub.ru</span>
    </a>
</div>
<nav class="header-nav">
    <div class="header-nav__wrap">
        <p class="header-nav__button">Меню</p>
        <ul class="header-nav__body">
            <li class="header-nav__item"><a href="http://www.obi.ru/decom/category/%D0%A2%D0%B5%D1%85%D0%BD%D0%B8%D0%BA%D0%B0/876" target="_blank">Техника</a></li>
            <li class="header-nav__item"><a href="http://www.obi.ru/decom/category/%D0%A1%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B0/877" target="_blank">Стройка</a></li>
            <li class="header-nav__item"><a href="http://www.obi.ru/decom/category/%D0%92%D1%81%D1%91_%D0%B4%D0%BB%D1%8F_%D0%B4%D0%BE%D0%BC%D0%B0/874" target="_blank">Всё для дома</a></li>
            <li class="header-nav__item"><a href="http://www.obi.ru/decom/category/%D0%92%D0%B0%D0%BD%D0%BD%D0%B0%D1%8F_%D0%B8_%D0%BA%D1%83%D1%85%D0%BD%D1%8F/875" target="_blank">Ванная и кухня</a></li>
            <li class="header-nav__item"><a href="http://www.obi.ru/decom/category/%D0%A1%D0%B0%D0%B4_%D0%B8_%D0%B4%D0%BE%D1%81%D1%83%D0%B3/860" target="_blank">Сад и досуг</a></li>
            <li class="header-nav__item header-nav__item_mod_advice"><a href="http://diy.obi.ru/" target="_blank">Советы</a></li>
            <li class="header-nav__item header-nav__item_mod_shares"><a href="http://www.obi.ru/ru/offers/index.html" target="_blank">Акции</a></li>
        </ul>
    </div>
</nav>

<div class="info info_mod_error">
    <div class="info__body">
        <p class="info__text"><b>Ошибка!</b> Неверное имя или пароль, попробуйте снова</p>
        <a class="info__close" href="">×</a>
    </div>
</div>
