.wrapper
{
    min-width: 300px;
    max-width: 1000px;
    margin: 0 auto;
}

@media only screen and (max-width : 1023px),
only screen and (max-device-width : 1023px)
{
    .wrapper
    {
        padding: 0 20px;
    }
}

@media only screen and (max-width : 767px),
only screen and (max-device-width : 767px)
{
    .wrapper
    {
        padding: 0 10px;
    }
}
