/* Fonts
-----------------------------------------------------------------------------*/
@import 'partials/font';


/* Plugins
-----------------------------------------------------------------------------*/
@import '../../bower_components/normalize.css/normalize.css';


/* Base
-----------------------------------------------------------------------------*/
@import 'partials/variable';
@import 'partials/base/html';
@import 'partials/base/body';
@import 'partials/base/wrapper';
@import 'partials/base/content';


/* Block
-----------------------------------------------------------------------------*/
@import 'partials/block/link';
@import 'partials/block/select';

/* Header
-----------------------------------------------------------------------------*/
@import 'partials/header/header';


/* Footer
-----------------------------------------------------------------------------*/
@import 'partials/footer/footer';
@import 'partials/footer/footer-list';
@import 'partials/footer/footer-logo';
@import 'partials/footer/footer-social';
@import 'partials/footer/footer-copyright';


/* Page main
-----------------------------------------------------------------------------*/
@import 'partials/#main/main-nav';
@import 'partials/#main/main-media';
@import 'partials/#main/main-slider';
@import 'partials/#main/main-news';
@import 'partials/#main/main-aside';
@import 'partials/#main/main-prosecutor';
@import 'partials/#main/main-youtube';
@import 'partials/#main/main-vk';
@import 'partials/#main/main-tw';
@import 'partials/#main/main-location';
@import 'partials/#main/main-subject';
@import 'partials/#main/main-article';


/* Debug
-----------------------------------------------------------------------------*/
@import 'partials/debug';


.hover10 figure img {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover10 figure:hover img {
    -webkit-filter: grayscale(100%) blur(3px);
    filter: grayscale(100%) blur(3px);
}
