input::-ms-clear
{
    display: none;
}

.clearfix:before,
.clearfix:after
{
    display: table;

    content: ' ';
}

.clearfix:after
{
    clear: both;
}

.hide
{
    display: none;
}

.show
{
    display: block;
}
