@font-face
{
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/RobotoRegular.eot');
    src: url('../fonts/RobotoRegular.eot?#iefix')format('embedded-opentype'),
    url('../fonts/RobotoRegular.woff') format('woff'),
    url('../fonts/RobotoRegular.ttf') format('truetype');
}

@font-face
{
    font-family: 'RobotoLight';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/RobotoLight.eot');
    src: url('../fonts/RobotoLight.eot?#iefix')format('embedded-opentype'),
    url('../fonts/RobotoLight.woff') format('woff'),
    url('../fonts/RobotoLight.ttf') format('truetype');
}

@font-face
{
    font-family: 'RobotoMedium';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/RobotoMedium.eot');
    src: url('../fonts/RobotoMedium.eot?#iefix')format('embedded-opentype'),
    url('../fonts/RobotoMedium.woff') format('woff'),
    url('../fonts/RobotoMedium.ttf') format('truetype');
}

@font-face
{
    font-family: 'RobotoBold';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/RobotoBold.eot');
    src: url('../fonts/RobotoBold.eot?#iefix')format('embedded-opentype'),
    url('../fonts/RobotoBold.woff') format('woff'),
    url('../fonts/RobotoBold.ttf') format('truetype');
}
