.select
{
    position: relative;

    height: 33px;

    cursor: pointer;

    border: 1px solid #ebebeb;
    background: #fff;
    &:after
    {
        position: absolute;
        top: 14px;
        right: 15px;

        display: block;

        width: 11px;
        height: 7px;

        content: '';
        transition: all .3s ease;

        background: transparent url('../i/arrow-down.svg') left top no-repeat;
        background-size: 11px;
    }
    &_state
    {
        &_open
        {
            &:after
            {
                transform: rotate(180deg);
            }
        }
    }
    &__text
    {
        font: normal 14px/33px 'Roboto';

        display: block;
        overflow: hidden;

        padding: 0 41px 0 15px;

        transition: all .3s ease;
        white-space: nowrap;
        letter-spacing: .015em;
        text-overflow: ellipsis;

        color: $colorBlack;
        .select:hover &
        {
            color: #00aeef;
        }
    }
    &__list
    {
        position: relative;
        z-index: 100;
        top: 0;
        left: 0;

        display: none;
        overflow-x: hidden;
        overflow-y: auto;

        width: 100%;
        max-height: 270px;
        margin: 0 0 0 -1px;
        padding: 10px 0;

        list-style: none;

        border: 1px solid  #ebebeb;
        background: #fff;
        .select_state_open &
        {
            display: block;
        }
    }
    &__item
    {
        font: normal 14px/1.2 'Roboto';

        padding: 10px 15px;

        transition: all .3s ease;
        letter-spacing: .015em;
        &:hover
        {
            color: #00aeef;
        }
    }
}
